<div class="container">
  <div class="message">
    <i class="i-main fa fa-exclamation-triangle fa-5x" />
    <h5>Unable to load DemocrApp.</h5>
    <p>We can't work out whose DemocrApp you are trying to load.</p>
    <p>Reason: <code>{{reason}}</code>
    <p class="small text-muted">
      Please check the address you've entered is correct, try again or ask a meeting organiser for help. 
      If you've just created your DemocrApp instance, wait a few minutes and try again later.
    </p>
  </div>
</div>