<h3>Welcome to DemocrApp for</h3>
<h1>{{tenant_name}}</h1>

<div class="mb-3">
  {{welcome_text}}
</div>

<p>
  If you have not yet registered, please see the meeting secretary/chair
  to request a token.
</p>

<div class="d-flex flex-row btn-group btn-group-lg btn-block">
  <button class="d-flex btn btn-primary" onclick="loadAuth()">I've got my token!</button>
  <button id="homeAboutButton" class="d-flex btn btn-secondary justify-content-end" onclick="replacePage('about')">
    <i class="fa fa-question-circle"></i>
  </button>
</div>

<p class="small muted">
  If your device encounters an error while using this site, it will send an anonymous report to 
  <a href="https://sentry.io/for/javascript/" target="_blank">Sentry</a> with a little more info about what happened.
</p></div>