<h3>Welcome to</h3>
<h1>DemocrApp for {{tenant_name}}</h1>

<div>
  {{welcome_text}}
</div>

<p>
  This site provides online voting functionality for meetings. In order
  to access the site you will need to use the anonymous access token that you were given
  when you registered into the meeting by the meeting secretary.
</p>

<p>
  If you have not yet registered, please see the meeting secretary/chair
  to request a token.
</p>

<p>
  <h5>FAQs:</h5>
  <ul>
    <li>
      <strong>What if my device doesn't work properly?</strong> Take your token to one of the e-voting kiosks
      and place your votes there.
    </li>
    <li>
      <strong>What if my device stops working?</strong> You can re-authenticate on any compatible device, or move
      to using one of the aforementioned e-voting kiosks.
    </li>
  </ul>
</p>

<button class="btn btn-lg btn-primary btn-block" onClick="loadAuth()">I've got my token!</button>

<p class="small muted">
  This app is provided by DemocrApp. To help us squash any bugs, if your device encounters an error while using this
  site, it will send a an anonymous report to <a href="https://sentry.io/for/javascript/" target="_blank">Sentry</a>
  with a little more info about what happened.
</p>