<form data-ballot="{{ballot_id}}" data-voter="{{voter_id}}" id="{{voter_id}}{{ballot_id}}">
  <div class="card ballot">
    <div class="card-header">
      <h5 class="card-title">
        {{title}} <span class="ballot-badges"><span class="badge badge-success">Y/N/A</span>{{#proxy}}<span class="badge badge-info">PROXY</span>{{/proxy}}</span>
      </h5>
    </div>
    <div class="card-body">
      <p class="card-text">
        {{desc}}
      </p>
      <div class="btn-group" role="group" aria-label="Basic example">
        <button id="{{voter_id}}{{ballot_id}}-y" type="button" class="btn btn-lg btn-success" data-optid="{{yes_id}}">Yes</button>
        <button id="{{voter_id}}{{ballot_id}}-n" type="button" class="btn btn-lg btn-danger" data-optid="{{no_id}}">No</button>
        <button id="{{voter_id}}{{ballot_id}}-a" type="button" class="btn btn-lg btn-secondary" data-optid="{{abs_id}}">Abstain</button>
      </div>
    </div>
    <div class="card-footer">
      <p class="text-muted small">Click your selection once to select and then again to submit.</p>
    </div>
  </div>
</div>